* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(132, 110, 146, 0.664);
}

header {
    background: url("../images/backdrop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 100px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.HG {
    font-family: 'Share Tech Mono', monospace;
}

.nav-menu {
    list-style: none;
}

.pattern {
    background-position: center;
    background-size: contain;
    height: 580px;
    width: 100%;
    position: static;
    position: relative;
    object-fit: contain;
}

.aboutmetext {
    background-color: rgb(135, 93, 177);
}

.about-section {
    background-image: url(../images/backdrophalf.png);
    background-repeat: no-repeat;
    background-size: 20%;
    position: static;
}

.mylikes-section {
    background-image: url(../images/backdrophalf2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
}

.nav-menu li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.nav-menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.2s ease-in-out;
}

.nav-menu li a:hover {
    color:gold;
}

.header-title-1 {
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 90px;
    letter-spacing: 4px;
    margin-top: 440px;
}

/**************** ABOUT SECTION ****************/

.abouth1 {
    font-family: 'IM Fell English', serif;
    color:rgb(61, 59, 59);
    font-size: 50px;
    padding-bottom: 5%;
    text-align: center;
}

.about-text p {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 145%;
    text-align: left;
    padding-right: 50%;
    padding-left: 20%;
}

.about-pic {
    height: 500px;
    width: 280px;
    background-color: rgb(204, 219, 213);
    background-image: url("../images/me1.png");
    border: 5px solid rgb(95, 102, 100);
    background-repeat: no-repeat;
    margin-left: 60%;
    position: relative;
    margin-top: -280px;
}

#CapA {
    font-size: 80px;
    font-family: 'IM Fell English', serif;
    color: rgb(48, 36, 43);
}

#CapM {
    font-size: 80px;
    font-family: 'IM Fell English', serif;
    color: rgb(48, 36, 43);
}



/**************** HOBBIES SECTION ****************/

.mylikes-section {
    padding-top: 100px;
    padding-bottom: 100px;
    
    
}

.mylikes-h1 {
    font-family: 'IM Fell English', serif;
    color:rgb(211, 211, 211);
    font-size: 40px;
    margin-bottom: 15px;
}

.mylikes-h2 {
    font-family: 'IM Fell English', serif;
    color: rgb(48, 36, 43);
    font-size: 60px;
    margin-bottom: 100px;
}

.mylikes-middle {
    text-align: center;
}

.mylikes-row {
    display: flex;
    justify-content: center;
}

.mylikes-image1,
.mylikes-image2,
.mylikes-image3 { 
    width: 120%;
    height: 430px;
    position: relative;
    margin-bottom: 50px;
}

.mylikes-col {
    width: 350px;
    margin-right: 20px;
    margin-left: 20px;
}

.mylikes-image1 {
    background-image: url("../images/image1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mylikes-image2 {
    background-image: url("../images/image2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mylikes-image3 {
    background-image: url("../images/image3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hobbies-h3 {
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(230, 230, 230);
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}


.footer-bottom {
    background-color:rgb(114, 114, 114);
    clear: both;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.hobbiespara {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.hobbylist {
    list-style: square;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: rgb(41, 41, 41);
    padding-left: 50px;
    padding-right: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hobbylist {
    background-color: rgb(135, 93, 177);
    border: 5px solid rgb(91, 91, 99);
}

/**************** HOBBIES SECTION END ****************/

.btt {
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10%;
}



@media all and (max-width: 480px) {
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(105, 85, 175);
    }
    
    header {
        background: url("../images/websplash.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        text-align: center;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 250px;
        position: relative;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 50%;
    }


    .nav-menu li {
        display:inline-block;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .nav-menu {
        margin-top: 160px;
    }

    .HG {
        display: none;
    }

    .abouth1 {
        font-family: 'IM Fell English', serif;
        color: rgb(196, 218, 140);
        font-size: 30px;
        padding-top: 100px;
        padding-bottom: 5%;
        text-align: center;
    }

    #CapA {
        font-size: 50px;
        font-family: 'IM Fell English', serif;
        color: rgb(196, 218, 140);
    }
    
    #CapM {
        font-size: 50px;
        font-family: 'IM Fell English', serif;
        color: rgb(196, 218, 140);
    }

    .about-text p {
        font-size: 18px;
        font-family: 'Roboto Condensed', sans-serif;
        color: rgb(187, 184, 184);
        line-height: 145%;
        text-align: left;
        padding-right: 50%;
        padding-left: 10%;
    }

    .about-pic {
        height: 250px;
        width: 123px;
        background-color: rgb(204, 219, 213);
        background-image: url("../images/me1.png");
        border: 2px solid rgb(95, 102, 100);
        background-repeat: no-repeat;
        margin-left: 60%;
        position: relative;
        margin-top: -280px;
        background-size: contain;
    }

    .mylikes-h1 {
        font-family: 'IM Fell English', serif;
        color: rgb(196, 218, 140);
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .mylikes-h2 {
        font-family: 'IM Fell English', serif;
        color: rgb(196, 218, 140);
        font-size: 40px;
        margin-bottom: 20px;
    }

    .mylikes-col {
        width: 70%;
        position: absolute;
    }


    .mylikes-image1 {
        background-image: url("../images/image1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    .mylikes-image2 {
        background-image: url("../images/image2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 350%;
        margin-bottom: 0%;
    }
    
    .mylikes-image3 {
        background-image: url("../images/image3.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 630%;
    }


    .hobbies-h3 {
        font-size: 30px;
        font-family: 'Roboto Condensed', sans-serif;
        color: rgb(230, 230, 230);
        text-align: center;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }

    .hobbiespara {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        text-align: left;
        color: rgb(196, 218, 140);
    }

    .hobbylist {
        list-style: square;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        color: rgb(41, 41, 41);
        padding-left: 50px;
        padding-right: 30px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .btt {
        position:absolute;
        margin-top: 700%;
        text-align: center;

    }

    .footer-bottom {
        background-color:rgb(114, 114, 114);
        clear: both;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        margin-top: 750%;
    }

    .pattern {
        display: none;
    }

    .hobbylist {
        background-color: rgb(138, 131, 146);
        border: 5px solid rgb(91, 91, 99);
    }

    .nav-menu li a {
        text-decoration: none;
        color:rgb(189, 175, 97);
        padding-left: 10px;
        padding-right: 10px;
        transition: all 0.2s ease-in-out;
    }